---
title: Payment World
---
extends layouts/_layout
block content
  .container
    header.main-header.text-center
      a.logo(href='#')
        img(src="img/logo.png", alt="payment world")
    nav.main-nav
      .main-nav__left
        button.btn.disabled
          i.glyphicon.glyphicon-chevron-left
      .main-nav__step
        a(href="/").btn.btn--active Business Information
        i.main-nav__step-icon.glyphicon.glyphicon-chevron-right
      .main-nav__step
        a(href="index2.html").btn.btn--active Merchant Information
        i.main-nav__step-icon.glyphicon.glyphicon-chevron-right
      .main-nav__step
        a(href="index3.html").main-nav__step-icon.btn.btn--active Ownership Information
      .main-nav__right
        button.btn
          i.glyphicon.glyphicon-chevron-right
    .main-form
      form
        .main-form__first.index3
          .form-inline
            .row
              label.col-xs-4 Principal (First Name, Last Name):
              .col-xs-8.main-form-first
                .form-group
                  input.form-control(type="text", name="owner-firstname" placeholder="First Name")
                .form-group
                  input.form-control(type="text", name="owner-lastname" placeholder="Last Name")
                .form-group.form-group-labeled
                  label(for="owner-nationality") Nationality
                  input.form-control(type="text")
          .form-inline.date-form
            - var months = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
            .row
              label.col-xs-4 Date and Place of Birth:
              .col-xs-8
                .form-group
                  select.owner-date(name="owner-date")
                    option(value="") Date
                    -for (var i = 1; i <= 30; i++)
                      option(value="#{i}") #{i}
                  .form-group
                    select.owner-month(name="owner-month")
                      option(value="") Month
                      each month in months
                        option(value="#{month}") #{month}
                  .form-group
                    select.owner-year(name="owner-year")
                      option(value="") Year
                        -for (var i = 1930; i <= 2017; i++)
                          option(value="#{i}") #{i}
                .form-group.form-group-labeled
                  label(for="owner-ownership") Ownership
                  input.form-control(type="text")
                  span %
          .form
            .row
              label.col-xs-4 Owner Address:
              .col-xs-8
                .form-inline.form-addresses
                  .form-group
                    input.form-control(type="text", name="owner-address" placeholder="Address")
                  .form-group
                    input.form-control(type="text", name="owner-city" placeholder="City")
                  .form-group
                    input.form-control(type="text", name="owner-zip" placeholder="ZIP")
                  .form-group
                    select.select-country.form-control(name="owner-country")
                      option(value="") Select Country
                      option(value="Germany") Germany
                      option(value="Italy") Italy
                      option(value="Spain") Spain
          .form
            .row
              label.col-xs-4 Passport / ID Number:
              .col-xs-8
                .form-inline.form-passport
                  .form-group
                    input.form-control(type="text", name="owner-passport")
                  .form-group.form-group-labeled
                    label(for="owner-issuing") Issuing Authority:
                    input.form-control(type="text")
          .form-inline.date-form.assuming-form
            - var months = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
            .row
              label.col-xs-4 Issuing Date:
              .col-xs-8
                .form-group
                  select.owner-date(name="owner-date")
                    option(value="") Date
                    -for (var i = 1; i <= 30; i++)
                      option(value="#{i}") #{i}
                  select.owner-month(name="owner-month")
                    option(value="") Month
                    each month in months
                      option(value="#{month}") #{month}
                  select.owner-year(name="owner-year")
                    option(value="") Year
                      -for (var i = 1930; i <= 2017; i++)
                        option(value="#{i}") #{i}
                .form-group.form-group-labeled
                  label Expiration Date:
                  select.owner-date(name="owner-date")
                    option(value="") Date
                    -for (var i = 1; i <= 30; i++)
                      option(value="#{i}") #{i}
                  select.owner-month(name="owner-month")
                    option(value="") Month
                    each month in months
                      option(value="#{month}") #{month}
                  select.owner-year(name="owner-year")
                    option(value="") Year
                      -for (var i = 1930; i <= 2017; i++)
                        option(value="#{i}") #{i}
          .text-center.btn-section
            button.btn.btn--orange.js-add-owner(type="button")
              span
                i.glyphicon.glyphicon-plus
                | Add Owner
        .text-center.btn-section
          button.btn.btn--big REGISTER






